<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/logo.png"></ion-img>
          <h3>Welcome!</h3>
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input name="firstName" type="text" [(ngModel)]="firstName" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input name="lastName" type="text" [(ngModel)]="lastName" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Repeat Password</ion-label>
            <ion-input name="repeatPassword" type="password" [(ngModel)]="repeatPassword" required></ion-input>
          </ion-item>
          <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="full">Register</ion-button>
          <br><br><br>
          <ion-button color="success" expand="full" routerLink="/login">Already registered?</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
