<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Owned Plants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-add-owned-plant-button (ownedPlantCreatedEvent)="ionViewWillEnter()"></app-add-owned-plant-button>
  <ion-list>
    <ion-item *ngFor="let ownedPlant of ownedPlants">
      <ion-label (click)="viewOwnedPlant(ownedPlant)">
        <h1>{{ownedPlant.name}}</h1>
        <p>
          Water it <b>{{ownedPlant.amountWaterMl}}ml</b> every <b>{{ownedPlant.wateringPeriodDays}} day{{ownedPlant.wateringPeriodDays === 1 ? '' : 's'}}</b><br>
          <ng-container *ngIf="OwnedPlant.daysUntilNextWatering(ownedPlant) < 0">
            Watering is <b style="color: red">{{-OwnedPlant.daysUntilNextWatering(ownedPlant)}} day{{OwnedPlant.daysUntilNextWatering(ownedPlant) === -1 ? '' : 's'}}</b> overdue
          </ng-container>
          <ng-container *ngIf="OwnedPlant.daysUntilNextWatering(ownedPlant) === 0">
            Needs water <b style="color: yellow">today</b>
          </ng-container>
          <ng-container *ngIf="OwnedPlant.daysUntilNextWatering(ownedPlant) > 0">
            Needs water in <b style="color: green">{{OwnedPlant.daysUntilNextWatering(ownedPlant)}} day{{OwnedPlant.daysUntilNextWatering(ownedPlant) === 1 ? '' : 's'}}</b>
          </ng-container>
        </p>
      </ion-label>
      <app-water-owned-plant-button [ownedPlant]="ownedPlant" (ownedPlantWateredEvent)="ionViewWillEnter()"></app-water-owned-plant-button>
      <app-delete-owned-plant-button [ownedPlant]="ownedPlant" (ownedPlantDeletedEvent)="ionViewWillEnter()"></app-delete-owned-plant-button>
    </ion-item>
  </ion-list>
</ion-content>
