<form #form="ngForm" (ngSubmit)="saveOwnedPlant()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 *ngIf="creatingNewOwnedPlant()">Add a new plant</h3>
        <h3 *ngIf="!creatingNewOwnedPlant()">Update {{ownedPlant.name}}</h3>
        <div>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input name="name" type="text" [(ngModel)]="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Amount of water (ml)</ion-label>
            <ion-input name="amountWaterMl" type="number" [(ngModel)]="amountWaterMl" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">How often (days) to water the plant</ion-label>
            <ion-input name="wateringPeriodDays" type="number" [(ngModel)]="wateringPeriodDays" required></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="3">
        <ion-button color="light" (click)="modalController.dismiss()">Cancel</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="success" type="submit" [disabled]="form.invalid">Save</ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</form>
