<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/icon/logo.png"></ion-img>
          <h3>Welcome back!</h3>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="full">Login</ion-button>
          <br><br><br>
          <ion-button color="success" expand="full" routerLink="/register">Create an account</ion-button>
          <ion-button color="medium" expand="full" routerLink="/forgot-password">Forgot password?</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
